
.1 {
    
}

img {
    width: px
}

.2 {

}



.3 {
    border: 5px solid grey;
    background-color: white;
    padding: 20px;
}

h4 {
   font-family:  Segoe UI;
    color: gainsboro;
}

.hdr {
    color: grey;
    font-weight: 500;
    margin-left: 950px;
    margin-top: 50px;
}

.frm {
    
}

.btn {
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    padding-right: 80px;
    padding-left: 80px;
}
