
.1 {
    
}

img {
    width: px
}

.2 {

}



.3 {
    border: 5px solid grey;
    background-color: white;
    padding: 20px;
}

h4 {
   font-family:  Segoe UI;
    color: gainsboro;
    
}

.hdr {
    color: grey;
    font-weight: 500;
   
    margin-top: 50px;
}

.frm {
    margin-left: 1000px;
    border:1px solid gainsboro;
    
    
}

.btn {
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    padding-right: 80px;
    padding-left: 10px;
}

ion-icon {
    
}

.icn {
    
}

.rr {
    color: gainsboro;
    border: 0.2px solid gainsboro;
    
    
}

.ph {
    line-height: 30px;
    text-align: center;
    border: 0.2px solid gainsboro;
    padding-right: 80px;
    margin-bottom: 6px;
    
   
}

input {
    
}
.btn1 {
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    padding-right: 100px;
    padding-left: 100px;
}

.im {
    margin-right: 5px
}
.hdrr {
    color: grey;
    font-weight: 500;
   
    margin-top: 50px;
    font-weight: 100;
    font-size: 14px;
}
